  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Lag ny tjeneste</h1>


<br>
<br>
      <!-- Masthead Subheading -->
      <h2 class="masthead-subheading font-weight-light mb-0"> <b> <%= render "shared/service_form" %></b> <br></h2>

    </div>
  </header>

