


  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <table>
        <thead>
          <tr>
            <th><h1 class="masthead-heading text-uppercase mb-0">Tjeneste</h1></th>
          </tr>
        </thead>
        <br>
        <tbody>
          <tr>
            <td><h2 class="text-uppercase mb-0"> <%= @service.name %> </h2></td>
          </tr>
        </tbody>
      </table>

    </div>
  </header>
