 <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
<h1>Ny Oppgave</h1>

  <%= render "shared/task_form" %>

    </div>
  </header>
