  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Adresse</h4>
          <p class="lead mb-0">Åkebergveien 50 G
            <br>0650, Oslo, Norge</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Sosiale Medier</h4>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <%= fa_icon "facebook-f" %>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
           <%= fa_icon "twitter" %>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <%= fa_icon "linkedin" %>
          </a>
          <a class="btn btn-outline-light btn-social mx-1" href="#">
            <%= fa_icon "instagram" %>
          </a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Kontakt Informasjon</h4>
          <p class="lead mb-0">
            Logo Maker'n AS <br>
            Telefon: 2257 2815 <br>
            Epost: info@logomakern.no<br><br>
            Organisasjonsnummer: 918 657 535
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; LogoMaker'n 2019</small>
    </div>
  </section>
