
 <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <h1>Takk for din bestilling!</h1>

      <p style="font-size: 25px;">Dere vil motta en epost om kort tid med mer informasjon om prosessen videre. <br>
      Ta gjerne kontakt hvis dere har noen spørsmål på: <br> <h4>bestilling@logomakern.no</h4></p>
<br>
      <h2>Vi ser frem til å jobbe med dere :)</h2>

    </div>
  </header>
