<header class="masthead-mose bg-primary text-white text-left">
  <div class="container d-flex flex-column">


<h1 style="text-align: center;">Bestillingskjema</h1>

<%= render "shared/order_form" %>

</div>
</header>
