

<header class="masthead-mose bg-primary text-white text-left">
  <div class="container d-flex align-items-center flex-column">

    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0">Endre Stil</h1>
    <%= render "shared/style_form" %>

  </div>
</header>
