<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hei <%= @fornavn %>,</p>
    <p>
      Takk for deres bestilling på Logmakern.no!
      <br><br>
      Følgende ordredetaljer er blitt registrert:

    <ul>
      <li><b>Pakke:</b> <%= @pakke %></li>
      <li><b>Pris:</b> <%= @pris %> NOK</li>
    </ul>

    <p>Prosessen videre vil være som følger:</p>
    <ol>
      <li>Vi sender dere våre designutkast i løpet av 2-5 dager</li>
      <li>Vi mottar tilbakemelding fra dere</li>
      <li>Vi endrer designet etter deres ønske</li>
      <li>Vi sender endelig design i alle filformater som er inkludert i pakkeløsningen.</li>
    </ol>

    <p>Faktura vil bli sendt ut fortløpende.</p>
    <p>Skulle dere ha noen spørsmål så er det bare å svare tilbake på denne eposten så kommer vi tilbake til dere så snart vi kan.</p>
    <p>Vi ser frem til å jobbe med dere og vil gjøre vårt ypperste for å designe et mesterverk som vil gjøre dere fornøyde.</p>

    </p>
    <p>
      Med vennlig hilsen,<br>
      Logo Maker'n Support Team
    </p>
  </body>
</html>
