  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
            <br>
            <h1> Hei <%= @contact_mailer.first_name.capitalize %>, </h1>
<br><h1>Takk for din henvendelse. <br>Vi vil svare deg så snart vi kan.</h1>
      <!-- Masthead Heading -->

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <%= fa_icon "star" %>
        </div>
        <div class="divider-custom-line"></div>
      </div>
<h1 class="masthead-heading text-uppercase mb-0">Logo Maker'n</h1>

    </div>
  </header>
