<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hei <%= @first_name %></p>
    <p>
      Takk for å ha kontaktet oss på <%= link_to "Logo Makern", "/" %> .<br>
    </p>
    <p>
      Vi vil svare deg så snart vi kan i løpet av de neste 24 timene.
    </p>
    <p>
      Med vennlig hilsen,<br>
      Logo Maker'n Support Team
    </p>
  </body>
</html>
