<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Følgende melding ble sendt <% Time.now %>
    <p>Hei <%= @first_name %></p>
    <p>
      Takk for å ha kontaktet oss på <%= link_to "Logo Makern", "/" %> .<br>
      Du vil få svar innen 24 timer.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
